.node {
  cursor: pointer;
}

.node--middle {
  display: none;
}

.node--leaf {
  display: none;
  fill:'#BDFCFF';
}

.label {
  font: 1em "Helvetica Neue Bold", Helvetica, Arial, sans-serif;
  color: #306468;
  font-weight: bold;
  /* text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff; */
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

circle:hover{
  stroke: white;
  stroke-width: 20px;
}

g{
  margin: 0 auto;
  display: block;
}
